<div class="widget twitter">
  <h3 class="title">新浪微博</h3>
  <div class="entry">
	  <iframe id="sina_widget_2884160830" style="width:100%; height:330px;" frameborder="0" scrolling="no" src="http://v.t.sina.com.cn/widget/widget_blog.php?uid=2884160830&height=330&skin=wd_01&showpic=1"></iframe>
  </div>
</div>
